{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'repl.scss' %}">
    <title>repl.it</title>
    <script src="https://repl.it/lib/api.js" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'repl.scss' %}" type="text/javascript" charset="utf-8"></script>
</head>

<body style="background: black">
<pre class='exec'>
    <iframe class="custom" height="400px" width="100%" src="https://repl.it/@tohfaakib/googlemailfinder?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</pre>

</body>

</html>

